# End-to-End 시나리오 — 일별 배치부터 장애 복구까지

이 노트북에서는 지금까지 배운 모든 내용을 **실전 시나리오**로 종합 실습합니다.

### 시나리오

온라인 쇼핑몰의 주문 데이터 파이프라인:

1. **일별 배치 적재** — 매일 새로운 주문 데이터 INSERT
2. **상태 업데이트** — 배송 완료된 주문 UPDATE
3. **스키마 변경** — 새 컬럼 추가 (Schema Evolution)
4. **컴팩션** — Small File Problem 해결
5. **스냅샷 정리** — 유지보수 작업
6. **장애 복구** — 실수로 데이터 삭제 후 Time Travel로 복구

## 환경 설정

In [14]:
import sys

sys.path.append("..")

import time
from utils.spark_setup import create_spark_session
from utils.data_generator import generate_orders, to_spark_df
from utils.file_explorer import (
    show_tree,
    snapshot_tree,
    diff_tree,
    count_files,
    total_size,
)

In [15]:
spark = create_spark_session()

TABLE_NAME = "demo.lab.e2e_orders"
TABLE_PATH = "/home/jovyan/data/warehouse/lab/e2e_orders"

Spark + Iceberg 세션 준비 완료 (warehouse: file:///home/jovyan/data/warehouse)

---
## Phase 1: 테이블 생성 + 일별 배치 적재

월별 Hidden Partitioning으로 테이블을 생성하고, 5일치 배치 데이터를 순차적으로 적재합니다.

In [21]:
spark.sql(f"DROP TABLE IF EXISTS {TABLE_NAME}")

spark.sql(f"""
CREATE TABLE {TABLE_NAME} (
    order_id BIGINT,
    customer_id BIGINT,
    product_name STRING,
    order_date DATE,
    amount DECIMAL(10,2),
    status STRING
) USING ICEBERG
PARTITIONED BY (months(order_date))
""")

print(f"테이블 생성 완료: {TABLE_NAME}")
print("파티셔닝: months(order_date)")

테이블 생성 완료: demo.lab.e2e_orders
파티셔닝: months(order_date)

In [22]:
# Day 1~5: 일별 배치 적재 시뮬레이션
daily_batches = [
    {"day": 1, "start": "2024-01-01", "end": "2024-01-31", "records": 100},
    {"day": 2, "start": "2024-01-01", "end": "2024-01-31", "records": 80},
    {"day": 3, "start": "2024-02-01", "end": "2024-02-28", "records": 120},
    {"day": 4, "start": "2024-02-01", "end": "2024-02-28", "records": 90},
    {"day": 5, "start": "2024-03-01", "end": "2024-03-31", "records": 110},
]

offset = 1
for batch in daily_batches:
    orders = generate_orders(
        num_records=batch["records"],
        seed=batch["day"],
        start_date=batch["start"],
        end_date=batch["end"],
        id_offset=offset,
    )
    df = to_spark_df(spark, orders)
    df.writeTo(TABLE_NAME).append()
    offset += batch["records"]
    print(
        f"Day {batch['day']}: {batch['records']}건 적재 ({batch['start']} ~ {batch['end']})"
    )

total = spark.sql(f"SELECT COUNT(*) FROM {TABLE_NAME}").collect()[0][0]
print(f"\n총 레코드: {total}건")
print(f"파일 수: {count_files(TABLE_PATH)}")

Day 1: 100건 적재 (2024-01-01 ~ 2024-01-31)
Day 2: 80건 적재 (2024-01-01 ~ 2024-01-31)
Day 3: 120건 적재 (2024-02-01 ~ 2024-02-28)
Day 4: 90건 적재 (2024-02-01 ~ 2024-02-28)
Day 5: 110건 적재 (2024-03-01 ~ 2024-03-31)

총 레코드: 500건
파일 수: 5

In [23]:
# 현재 상태 확인
print("Phase 1 완료 — 파일 구조:")
print("=" * 60)
show_tree(TABLE_PATH, max_depth=3)

print("\n스냅샷 히스토리:")
spark.sql(f"""
SELECT snapshot_id, committed_at, operation,
       summary['added-data-files'] as added_files,
       summary['added-records'] as added_records
FROM {TABLE_NAME}.snapshots
ORDER BY committed_at
""").show(truncate=False)

Phase 1 완료 — 파일 구조:
============================================================
├── data/
│   ├── order_date_month=2024-01/
│   │   ├── 00000-909-2bae8660-2a17-42df-97a9-29af7561946b-00001.parquet  (3.0 KB)
│   │   └── 00000-915-b36fd36b-b991-42a3-9e99-947fdf5ed9ff-00001.parquet  (2.8 KB)
│   ├── order_date_month=2024-02/
│   │   ├── 00000-921-f1531eac-1d7e-4418-bfae-8390be0e6105-00001.parquet  (3.1 KB)
│   │   └── 00000-927-51b251c5-074d-45de-b859-679d8d45f3c3-00001.parquet  (2.9 KB)
│   └── order_date_month=2024-03/
│       └── 00000-933-a8396472-707d-4126-beb1-7ea8407d69e1-00001.parquet  (3.0 KB)
└── metadata/
    ├── 24cf3d69-37c1-498f-bfd9-47776769a4d1-m0.avro  (7.1 KB)
    ├── 40874836-6de6-40ab-9d67-c68b5b7b8c8c-m0.avro  (7.1 KB)
    ├── 563b1b3d-0525-421b-b275-209feea0cc1e-m0.avro  (7.1 KB)
    ├── 74565c83-bb86-4fc1-bf5a-db8c7d44596f-m0.avro  (7.1 KB)
    ├── cb23e275-cffb-4084-a421-46796f13448f-m0.avro  (7.1 KB)
    ├── snap-4404655999747093507-1-24cf3d69-37c1-498f-bfd9-47776769a4d1.avro  (4.4 KB)
    ├── snap-5740802469932150748-1-563b1b3d-0525-421b-b275-209feea0cc1e.avro  (4.3 KB)
    ├── snap-7464881929905122237-1-cb23e275-cffb-4084-a421-46796f13448f.avro  (4.3 KB)
    ├── snap-7827338589424491138-1-74565c83-bb86-4fc1-bf5a-db8c7d44596f.avro  (4.4 KB)
    ├── snap-8865779315272265733-1-40874836-6de6-40ab-9d67-c68b5b7b8c8c.avro  (4.2 KB)
    ├── v1.metadata.json  (1.5 KB)
    ├── v2.metadata.json  (2.5 KB)
    ├── v3.metadata.json  (3.5 KB)
    ├── v4.metadata.json  (4.5 KB)
    ├── v5.metadata.json  (5.5 KB)
    ├── v6.metadata.json  (6.4 KB)
    └── version-hint.text  (1 B)

스냅샷 히스토리:
+-------------------+-----------------------+---------+-----------+-------------+
|snapshot_id        |committed_at           |operation|added_files|added_records|
+-------------------+-----------------------+---------+-----------+-------------+
|8865779315272265733|2026-02-16 05:43:12.011|append   |1          |100          |
|5740802469932150748|2026-02-16 05:43:12.472|append   |1          |80           |
|7464881929905122237|2026-02-16 05:43:12.775|append   |1          |120          |
|7827338589424491138|2026-02-16 05:43:13.082|append   |1          |90           |
|4404655999747093507|2026-02-16 05:43:13.425|append   |1          |110          |
+-------------------+-----------------------+---------+-----------+-------------+

---
## Phase 1.5: 중복 데이터 유입과 정리

운영에서는 동일 주문이 재전송되어 중복 키가 들어올 수 있습니다.
업데이트 전에 중복을 탐지/정리하여 이후 단계의 정합성을 보장합니다.

In [19]:
from pyspark.sql import Window
from pyspark.sql import functions as F

# 3건을 의도적으로 중복 유입
dup_rows = spark.sql(f"""
SELECT order_id, customer_id, product_name, order_date, amount, status
FROM {TABLE_NAME}
ORDER BY order_id
LIMIT 3
""")
dup_rows.writeTo(TABLE_NAME).append()

dup_keys = spark.sql(f"""
SELECT COUNT(*)
FROM (
    SELECT order_id
    FROM {TABLE_NAME}
    GROUP BY order_id
    HAVING COUNT(*) > 1
) t
""").collect()[0][0]
print(f"중복 주입 후 중복 order_id 개수: {dup_keys}")

# order_id 기준으로 1건만 남기도록 정리
# 중요: 원본 테이블 삭제 전에 dedup 결과를 물질화해야 lazy evaluation으로 빈 테이블을 다시 읽지 않음
w = Window.partitionBy("order_id").orderBy(
    F.col("order_date").desc(), F.col("status").desc()
)
dedup_df = (
    spark.table(TABLE_NAME)
    .withColumn("rn", F.row_number().over(w))
    .filter(F.col("rn") == 1)
    .drop("rn")
    .cache()
)
dedup_rows_count = dedup_df.count()
print(f"중복 정리 대상 레코드 수: {dedup_rows_count}")

spark.sql(f"DELETE FROM {TABLE_NAME} WHERE true")
dedup_df.writeTo(TABLE_NAME).append()
dedup_df.unpersist()

dup_keys_after = spark.sql(f"""
SELECT COUNT(*)
FROM (
    SELECT order_id
    FROM {TABLE_NAME}
    GROUP BY order_id
    HAVING COUNT(*) > 1
) t
""").collect()[0][0]
print(f"중복 정리 후 중복 order_id 개수: {dup_keys_after}")

중복 주입 후 중복 order_id 개수: 3
중복 정리 대상 레코드 수: 500
중복 정리 후 중복 order_id 개수: 0


### 관찰 포인트 — 중복 데이터 정리

- 중복 유입을 조기에 정리하면 UPDATE/DELETE/집계 결과 왜곡을 예방할 수 있습니다.
- 운영 파이프라인에는 배치 적재 직후 중복 탐지 쿼리를 자동화하는 것이 안전합니다.

---
## Phase 2: 상태 업데이트 (COW)

배송이 완료된 주문의 상태를 `shipped`로, 일부 주문을 `cancelled`로 업데이트합니다.

In [24]:
total_before_phase2 = spark.sql(
    f"SELECT COUNT(*) FROM {TABLE_NAME}"
).collect()[0][0]
if total_before_phase2 == 0:
    raise RuntimeError(
        "테이블이 비어 있습니다. Phase 1의 일별 배치 적재 셀(Cell 6)을 먼저 실행하세요."
    )

before = snapshot_tree(TABLE_PATH)

# pending → shipped
pending_target = spark.sql(f"""
SELECT COUNT(*)
FROM {TABLE_NAME}
WHERE status = 'pending' AND order_date < '2024-02-01'
""").collect()[0][0]
print(f"shipped 업데이트 대상: {pending_target}건")

spark.sql(f"""
UPDATE {TABLE_NAME}
SET status = 'shipped'
WHERE status = 'pending' AND order_date < '2024-02-01'
""")
shipped = spark.sql(
    f"SELECT COUNT(*) FROM {TABLE_NAME} WHERE status = 'shipped'"
).collect()[0][0]
print(f"shipped 상태 업데이트 완료 (현재 shipped: {shipped}건)")

# 일부 cancelled
cancel_target = spark.sql(f"""
SELECT COUNT(*)
FROM {TABLE_NAME}
WHERE amount < 150 AND order_date >= '2024-03-01'
""").collect()[0][0]
print(f"cancelled 업데이트 대상: {cancel_target}건")

spark.sql(f"""
UPDATE {TABLE_NAME}
SET status = 'cancelled'
WHERE amount < 150 AND order_date >= '2024-03-01'
""")
cancelled = spark.sql(
    f"SELECT COUNT(*) FROM {TABLE_NAME} WHERE status = 'cancelled'"
).collect()[0][0]
print(f"cancelled 상태 업데이트 완료 (현재 cancelled: {cancelled}건)")

after = snapshot_tree(TABLE_PATH)
print("\n파일 변경 사항 (COW 방식):")
diff_tree(before, after)

shipped 업데이트 대상: 32건
shipped 상태 업데이트 완료 (현재 shipped: 129건)
cancelled 업데이트 대상: 11건
cancelled 상태 업데이트 완료 (현재 cancelled: 110건)

파일 변경 사항 (COW 방식):

[+] 추가된 파일 (11개):
    + data/order_date_month=2024-01/00000-942-8b5a3787-ae97-4ccd-bf39-eb574761d44e-00001.parquet  (3.6 KB)
    + data/order_date_month=2024-03/00000-947-9a74f6d5-9fd5-4db5-bfa3-71278e534f24-00001.parquet  (3.0 KB)
    + metadata/c2423331-d5a5-46f7-bd8e-45ff738f47bb-m0.avro  (7.1 KB)
    + metadata/c2423331-d5a5-46f7-bd8e-45ff738f47bb-m1.avro  (7.1 KB)
    + metadata/c2423331-d5a5-46f7-bd8e-45ff738f47bb-m2.avro  (7.1 KB)
    + metadata/d8b3e567-f5d5-454e-a922-427c48a2fd27-m0.avro  (7.1 KB)
    + metadata/d8b3e567-f5d5-454e-a922-427c48a2fd27-m1.avro  (7.1 KB)
    + metadata/snap-1851445945964956442-1-c2423331-d5a5-46f7-bd8e-45ff738f47bb.avro  (4.4 KB)
    + metadata/snap-339597220726284806-1-d8b3e567-f5d5-454e-a922-427c48a2fd27.avro  (4.4 KB)
    + metadata/v7.metadata.json  (7.5 KB)
    + metadata/v8.metadata.json  (8.6 KB)

요약: +11 추가, -0 삭제, ~0 변경

In [25]:
# 상태별 분포 확인
total_for_distribution = spark.sql(
    f"SELECT COUNT(*) FROM {TABLE_NAME}"
).collect()[0][0]

print("주문 상태 분포:")
if total_for_distribution == 0:
    print("현재 테이블에 데이터가 없습니다. Phase 1(셀 6)과 Phase 2(셀 9)를 순서대로 실행하세요.")
else:
    spark.sql(f"""
    SELECT status, COUNT(*) as count
    FROM {TABLE_NAME}
    GROUP BY status
    ORDER BY count DESC
    """).show()

주문 상태 분포:
+----------+-----+
|    status|count|
+----------+-----+
|   shipped|  127|
|processing|  122|
| cancelled|  110|
| completed|   90|
|   pending|   51|
+----------+-----+

---
## Phase 3: 스키마 변경 (Schema Evolution)

비즈니스 요구사항 변경: `region` 컬럼을 추가합니다.

In [26]:
# region 컬럼 추가
spark.sql(f"ALTER TABLE {TABLE_NAME} ADD COLUMN region STRING")
print("region 컬럼 추가 완료")

# 스키마 확인
spark.sql(f"DESCRIBE {TABLE_NAME}").show()

region 컬럼 추가 완료
+--------------+------------------+-------+
|      col_name|         data_type|comment|
+--------------+------------------+-------+
|      order_id|            bigint|   null|
|   customer_id|            bigint|   null|
|  product_name|            string|   null|
|    order_date|              date|   null|
|        amount|     decimal(10,2)|   null|
|        status|            string|   null|
|        region|            string|   null|
|              |                  |       |
|# Partitioning|                  |       |
|        Part 0|months(order_date)|       |
+--------------+------------------+-------+

In [27]:
# 기존 데이터에 region 값 업데이트
spark.sql(f"""
UPDATE {TABLE_NAME}
SET region = CASE
    WHEN customer_id % 3 = 0 THEN 'Seoul'
    WHEN customer_id % 3 = 1 THEN 'Busan'
    ELSE 'Jeju'
END
""")

print("기존 데이터 region 업데이트 완료")
spark.sql(f"""
SELECT region, COUNT(*) as count
FROM {TABLE_NAME}
GROUP BY region
""").show()

기존 데이터 region 업데이트 완료
+------+-----+
|region|count|
+------+-----+
| Seoul|  146|
|  Jeju|  193|
| Busan|  161|
+------+-----+

In [28]:
# 새 데이터는 region 포함하여 삽입
from pyspark.sql.functions import lit, when, col

orders_new = generate_orders(
    num_records=100,
    seed=99,
    start_date="2024-03-15",
    end_date="2024-03-31",
    id_offset=501,
)
df_new = to_spark_df(spark, orders_new)
df_new = df_new.withColumn(
    "region",
    when(col("customer_id") % 3 == 0, lit("Seoul"))
    .when(col("customer_id") % 3 == 1, lit("Busan"))
    .otherwise(lit("Jeju")),
)
df_new.writeTo(TABLE_NAME).append()

total = spark.sql(f"SELECT COUNT(*) FROM {TABLE_NAME}").collect()[0][0]
print(f"새 데이터 100건 추가 (region 포함). 총 레코드: {total}건")

새 데이터 100건 추가 (region 포함). 총 레코드: 600건

---
## Phase 4: 컴팩션

여러 번의 INSERT/UPDATE로 파일이 많아졌습니다. Sort 전략으로 컴팩션합니다.

In [29]:
files_before = count_files(TABLE_PATH)
size_before = total_size(TABLE_PATH)
print(f"컴팩션 전: 파일 {files_before}개, 크기 {size_before:,} bytes")

# Sort 컴팩션 (order_date 기준)
spark.sql(f"""
CALL demo.system.rewrite_data_files(
    table => '{TABLE_NAME}',
    strategy => 'sort',
    sort_order => 'order_date ASC NULLS LAST'
)
""").show(truncate=False)

files_after = count_files(TABLE_PATH)
size_after = total_size(TABLE_PATH)
print(f"컴팩션 후: 파일 {files_after}개, 크기 {size_after:,} bytes")
print(f"파일 수 변화: {files_before} → {files_after}")

컴팩션 전: 파일 11개, 크기 267,258 bytes
+--------------------------+----------------------+---------------------+-----------------------+
|rewritten_data_files_count|added_data_files_count|rewritten_bytes_count|failed_data_files_count|
+--------------------------+----------------------+---------------------+-----------------------+
|0                         |0                     |0                    |0                      |
+--------------------------+----------------------+---------------------+-----------------------+

컴팩션 후: 파일 11개, 크기 267,258 bytes
파일 수 변화: 11 → 11

---
## Phase 5: 스냅샷 정리 (유지보수)

지금까지 생성된 스냅샷 중 최근 2개만 남기고 정리합니다.

In [30]:
# 현재 스냅샷 수 확인
snapshots = spark.sql(f"SELECT * FROM {TABLE_NAME}.snapshots").collect()
print(f"현재 스냅샷 수: {len(snapshots)}")

# 최근 2개만 유지
spark.sql(f"""
CALL demo.system.expire_snapshots(
    table => '{TABLE_NAME}',
    retain_last => 2
)
""").show(truncate=False)

snapshots_after = spark.sql(f"SELECT * FROM {TABLE_NAME}.snapshots").collect()
print(f"정리 후 스냅샷 수: {len(snapshots_after)}")

현재 스냅샷 수: 9
+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+
|deleted_data_files_count|deleted_position_delete_files_count|deleted_equality_delete_files_count|deleted_manifest_files_count|deleted_manifest_lists_count|deleted_statistics_files_count|
+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+
|0                       |0                                  |0                                  |0                           |0                           |0                             |
+------------------------+-----------------------------------+-----------------------------------+----------------------------+----------------------------+------------------------------+

정리 후 스냅샷 수: 9

In [31]:
# Manifest 재작성
spark.sql(f"""
CALL demo.system.rewrite_manifests(
    table => '{TABLE_NAME}'
)
""").show(truncate=False)

print("유지보수 완료: Expire Snapshots + Rewrite Manifests")

+-------------------------+---------------------+
|rewritten_manifests_count|added_manifests_count|
+-------------------------+---------------------+
|2                        |1                    |
+-------------------------+---------------------+

유지보수 완료: Expire Snapshots + Rewrite Manifests

In [32]:
# 유지보수 후 최종 상태
print("Phase 5 완료 — 유지보수 후 테이블 상태:")
print("=" * 60)
print(f"레코드 수: {spark.sql(f'SELECT COUNT(*) FROM {TABLE_NAME}').collect()[0][0]}")
print(f"파일 수: {count_files(TABLE_PATH)}")
print(f"스냅샷 수: {len(spark.sql(f'SELECT * FROM {TABLE_NAME}.snapshots').collect())}")

print("\n파일 구조:")
show_tree(TABLE_PATH, max_depth=3)

Phase 5 완료 — 유지보수 후 테이블 상태:
============================================================
레코드 수: 600
파일 수: 11
스냅샷 수: 10

파일 구조:
├── data/
│   ├── order_date_month=2024-01/
│   │   ├── 00000-909-2bae8660-2a17-42df-97a9-29af7561946b-00001.parquet  (3.0 KB)
│   │   ├── 00000-915-b36fd36b-b991-42a3-9e99-947fdf5ed9ff-00001.parquet  (2.8 KB)
│   │   ├── 00000-942-8b5a3787-ae97-4ccd-bf39-eb574761d44e-00001.parquet  (3.6 KB)
│   │   └── 00000-953-e737dbd7-1dfa-4989-b349-4d949f294d5f-00001.parquet  (3.9 KB)
│   ├── order_date_month=2024-02/
│   │   ├── 00000-921-f1531eac-1d7e-4418-bfae-8390be0e6105-00001.parquet  (3.1 KB)
│   │   ├── 00000-927-51b251c5-074d-45de-b859-679d8d45f3c3-00001.parquet  (2.9 KB)
│   │   └── 00000-953-e737dbd7-1dfa-4989-b349-4d949f294d5f-00002.parquet  (4.1 KB)
│   └── order_date_month=2024-03/
│       ├── 00000-933-a8396472-707d-4126-beb1-7ea8407d69e1-00001.parquet  (3.0 KB)
│       ├── 00000-947-9a74f6d5-9fd5-4db5-bfa3-71278e534f24-00001.parquet  (3.0 KB)
│       ├── 00000-953-e737dbd7-1dfa-4989-b349-4d949f294d5f-00003.parquet  (3.3 KB)
│       └── 00000-960-16e806a5-57dd-465c-b13f-dc3d859206cf-00001.parquet  (3.2 KB)
└── metadata/
    ├── 04f4eb05-c01c-4e40-8e24-6f41aa6427cb-m0.avro  (7.2 KB)
    ├── 24cf3d69-37c1-498f-bfd9-47776769a4d1-m0.avro  (7.1 KB)
    ├── 40874836-6de6-40ab-9d67-c68b5b7b8c8c-m0.avro  (7.1 KB)
    ├── 563b1b3d-0525-421b-b275-209feea0cc1e-m0.avro  (7.1 KB)
    ├── 74565c83-bb86-4fc1-bf5a-db8c7d44596f-m0.avro  (7.1 KB)
    ├── 84c399de-87e0-412b-b629-a17cce5c9111-m0.avro  (7.5 KB)
    ├── 9942bbce-9978-4163-9c17-db6d455372f7-m0.avro  (7.2 KB)
    ├── 9942bbce-9978-4163-9c17-db6d455372f7-m1.avro  (7.2 KB)
    ├── 9942bbce-9978-4163-9c17-db6d455372f7-m2.avro  (7.2 KB)
    ├── 9942bbce-9978-4163-9c17-db6d455372f7-m3.avro  (7.2 KB)
    ├── 9942bbce-9978-4163-9c17-db6d455372f7-m4.avro  (7.4 KB)
    ├── c2423331-d5a5-46f7-bd8e-45ff738f47bb-m0.avro  (7.1 KB)
    ├── c2423331-d5a5-46f7-bd8e-45ff738f47bb-m1.avro  (7.1 KB)
    ├── c2423331-d5a5-46f7-bd8e-45ff738f47bb-m2.avro  (7.1 KB)
    ├── cb23e275-cffb-4084-a421-46796f13448f-m0.avro  (7.1 KB)
    ├── d8b3e567-f5d5-454e-a922-427c48a2fd27-m0.avro  (7.1 KB)
    ├── d8b3e567-f5d5-454e-a922-427c48a2fd27-m1.avro  (7.1 KB)
    ├── snap-1495744749485585034-1-9942bbce-9978-4163-9c17-db6d455372f7.avro  (4.3 KB)
    ├── snap-1851445945964956442-1-c2423331-d5a5-46f7-bd8e-45ff738f47bb.avro  (4.4 KB)
    ├── snap-3105680197605447200-1-84c399de-87e0-412b-b629-a17cce5c9111.avro  (4.2 KB)
    ├── snap-339597220726284806-1-d8b3e567-f5d5-454e-a922-427c48a2fd27.avro  (4.4 KB)
    ├── snap-4404655999747093507-1-24cf3d69-37c1-498f-bfd9-47776769a4d1.avro  (4.4 KB)
    ├── snap-5740802469932150748-1-563b1b3d-0525-421b-b275-209feea0cc1e.avro  (4.3 KB)
    ├── snap-7255557774689941860-1-04f4eb05-c01c-4e40-8e24-6f41aa6427cb.avro  (4.3 KB)
    ├── snap-7464881929905122237-1-cb23e275-cffb-4084-a421-46796f13448f.avro  (4.3 KB)
    ├── snap-7827338589424491138-1-74565c83-bb86-4fc1-bf5a-db8c7d44596f.avro  (4.4 KB)
    ├── snap-8865779315272265733-1-40874836-6de6-40ab-9d67-c68b5b7b8c8c.avro  (4.2 KB)
    ├── v1.metadata.json  (1.5 KB)
    ├── v10.metadata.json  (10.6 KB)
    ├── v11.metadata.json  (11.6 KB)
    ├── v12.metadata.json  (12.5 KB)
    ├── v2.metadata.json  (2.5 KB)
    ├── v3.metadata.json  (3.5 KB)
    ├── v4.metadata.json  (4.5 KB)
    ├── v5.metadata.json  (5.5 KB)
    ├── v6.metadata.json  (6.4 KB)
    ├── v7.metadata.json  (7.5 KB)
    ├── v8.metadata.json  (8.6 KB)
    ├── v9.metadata.json  (9.5 KB)
    └── version-hint.text  (2 B)

---
## Phase 6: 장애 복구 (Time Travel)

### 시나리오: 실수로 데이터 대량 삭제

운영자가 실수로 잘못된 DELETE 쿼리를 실행하여 데이터가 삭제되었습니다. Time Travel로 복구합니다.

In [33]:
# 삭제 전 레코드 수 기록
count_before_accident = spark.sql(f"SELECT COUNT(*) FROM {TABLE_NAME}").collect()[0][0]
print(f"삭제 전 레코드 수: {count_before_accident}")

# 현재 스냅샷 ID 기록 (복구 지점)
safe_snapshot = spark.sql(f"""
SELECT snapshot_id FROM {TABLE_NAME}.snapshots
ORDER BY committed_at DESC LIMIT 1
""").collect()[0][0]
print(f"안전한 스냅샷 ID: {safe_snapshot}")

삭제 전 레코드 수: 600
안전한 스냅샷 ID: 3105680197605447200

In [34]:
# 사고 발생: 실수로 Seoul 지역 데이터 전체 삭제!
print("[사고 발생] 실수로 Seoul 지역 데이터 전체 삭제!")
spark.sql(f"DELETE FROM {TABLE_NAME} WHERE region = 'Seoul'")

count_after_accident = spark.sql(f"SELECT COUNT(*) FROM {TABLE_NAME}").collect()[0][0]
deleted = count_before_accident - count_after_accident
print(f"삭제 후 레코드 수: {count_after_accident} ({deleted}건 삭제됨!)")

print("\n현재 region 분포:")
spark.sql(f"SELECT region, COUNT(*) FROM {TABLE_NAME} GROUP BY region").show()

[사고 발생] 실수로 Seoul 지역 데이터 전체 삭제!
삭제 후 레코드 수: 419 (181건 삭제됨!)

현재 region 분포:
+------+--------+
|region|count(1)|
+------+--------+
|  Jeju|     228|
| Busan|     191|
+------+--------+

In [35]:
# 복구 방법 1: Time Travel로 삭제 전 데이터 확인
print(f"[복구] 스냅샷 {safe_snapshot}의 데이터 확인:")
safe_count = spark.sql(f"""
SELECT COUNT(*) FROM {TABLE_NAME}
VERSION AS OF {safe_snapshot}
""").collect()[0][0]
print(f"스냅샷 {safe_snapshot} 레코드 수: {safe_count}")

print("\n스냅샷의 region 분포:")
spark.sql(f"""
SELECT region, COUNT(*) as count
FROM {TABLE_NAME} VERSION AS OF {safe_snapshot}
GROUP BY region
""").show()

[복구] 스냅샷 3105680197605447200의 데이터 확인:
스냅샷 3105680197605447200 레코드 수: 600

스냅샷의 region 분포:
+------+-----+
|region|count|
+------+-----+
| Seoul|  181|
|  Jeju|  228|
| Busan|  191|
+------+-----+

In [36]:
# 복구 방법 2: Rollback으로 테이블 상태를 이전 스냅샷으로 되돌리기
print("[복구 실행] Rollback to safe snapshot...")
spark.sql(f"""
CALL demo.system.rollback_to_snapshot(
    table => '{TABLE_NAME}',
    snapshot_id => {safe_snapshot}
)
""")

count_after_recovery = spark.sql(f"SELECT COUNT(*) FROM {TABLE_NAME}").collect()[0][0]
print(f"\n복구 완료!")
print(
    f"레코드 수: {count_before_accident} → {count_after_accident} (사고) → {count_after_recovery} (복구)"
)

print("\n복구 후 region 분포:")
spark.sql(f"SELECT region, COUNT(*) FROM {TABLE_NAME} GROUP BY region").show()

[복구 실행] Rollback to safe snapshot...

복구 완료!
레코드 수: 600 → 419 (사고) → 600 (복구)

복구 후 region 분포:
+------+--------+
|region|count(1)|
+------+--------+
| Seoul|     181|
|  Jeju|     228|
| Busan|     191|
+------+--------+

### 관찰 포인트 — 장애 복구

- `VERSION AS OF`로 삭제 전 데이터를 **먼저 확인**한 후 복구할 수 있었습니다
- `rollback_to_snapshot`으로 테이블 상태를 **원래대로 되돌렸습니다**
- Rollback은 데이터를 복사하지 않고 **메타데이터 포인터만 변경**하므로 즉시 완료됩니다
- 단, `expire_snapshots`로 삭제된 스냅샷으로는 복구할 수 없으므로 **보존 기간 설정이 중요**합니다

---
## 전체 파이프라인 요약

```
Phase 1: 일별 배치 적재        → INSERT (append)
Phase 2: 상태 업데이트          → UPDATE (COW)
Phase 3: 스키마 변경           → ALTER TABLE ADD COLUMN
Phase 4: 컴팩션               → rewrite_data_files (sort)
Phase 5: 스냅샷 정리           → expire_snapshots + rewrite_manifests
Phase 6: 장애 복구             → VERSION AS OF + rollback_to_snapshot
```

### 운영 체크리스트

| 항목 | 주기 | 명령 |
|------|------|------|
| 데이터 적재 | 매일 | `df.writeTo(table).append()` |
| 컴팩션 | 매일 | `rewrite_data_files(strategy => 'sort')` |
| 스냅샷 만료 | 매일~주간 | `expire_snapshots(retain_last => N)` |
| 고아 파일 정리 | 주간~월간 | `remove_orphan_files(dry_run => true)` |
| Manifest 재작성 | 주간 | `rewrite_manifests()` |
| 파티션 모니터링 | 주간 | `SELECT * FROM table.partitions` |
| 파일 크기 모니터링 | 주간 | `SELECT * FROM table.files` |

In [37]:
# 최종 테이블 상태
print("=" * 60)
print("최종 테이블 상태")
print("=" * 60)
print(f"레코드 수: {spark.sql(f'SELECT COUNT(*) FROM {TABLE_NAME}').collect()[0][0]}")
print(f"파일 수: {count_files(TABLE_PATH)}")
print(f"총 크기: {total_size(TABLE_PATH):,} bytes")
print(f"스냅샷 수: {len(spark.sql(f'SELECT * FROM {TABLE_NAME}.snapshots').collect())}")

print("\n스키마:")
spark.sql(f"DESCRIBE {TABLE_NAME}").show()

print("파티션:")
spark.sql(f"SELECT * FROM {TABLE_NAME}.partitions").show(truncate=False)

============================================================
최종 테이블 상태
============================================================
레코드 수: 600
파일 수: 14
총 크기: 350,584 bytes
스냅샷 수: 11

스키마:
+--------------+------------------+-------+
|      col_name|         data_type|comment|
+--------------+------------------+-------+
|      order_id|            bigint|   null|
|   customer_id|            bigint|   null|
|  product_name|            string|   null|
|    order_date|              date|   null|
|        amount|     decimal(10,2)|   null|
|        status|            string|   null|
|        region|            string|   null|
|              |                  |       |
|# Partitioning|                  |       |
|        Part 0|months(order_date)|       |
+--------------+------------------+-------+

파티션:
+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+-----------------------+------------------------+
|partition|spec_id|record_count|file_count|total_data_file_size_in_bytes|position_delete_record_count|position_delete_file_count|equality_delete_record_count|equality_delete_file_count|last_updated_at        |last_updated_snapshot_id|
+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+-----------------------+------------------------+
|{648}    |0      |180         |1         |4012                         |0                           |0                         |0                           |0                         |2026-02-16 05:43:26.674|1495744749485585034     |
|{649}    |0      |210         |1         |4220                         |0                           |0                         |0                           |0                         |2026-02-16 05:43:26.674|1495744749485585034     |
|{650}    |0      |210         |2         |6709                         |0                           |0                         |0                           |0                         |2026-02-16 05:43:28.552|7255557774689941860     |
+---------+-------+------------+----------+-----------------------------+----------------------------+--------------------------+----------------------------+--------------------------+-----------------------+------------------------+

In [38]:
spark.stop()
print("Spark 세션 종료")
print("\nEnd-to-End 시나리오 실습 완료!")

Spark 세션 종료

End-to-End 시나리오 실습 완료!