# 01. Time Travel

Icebergì˜ **Time Travel** ê¸°ëŠ¥ì„ í™œìš©í•˜ì—¬ ê³¼ê±° ì‹œì ì˜ ë°ì´í„°ë¥¼ ì¡°íšŒí•˜ê³ , ì‹¤ìˆ˜ë¡œ ì‚­ì œëœ ë°ì´í„°ë¥¼ ë³µêµ¬í•©ë‹ˆë‹¤.

## Time Travel ê°œë…

IcebergëŠ” ëª¨ë“  ë°ì´í„° ë³€ê²½ì„ **ìŠ¤ëƒ…ìƒ·(Snapshot)**ìœ¼ë¡œ ê´€ë¦¬í•©ë‹ˆë‹¤.

```
Snapshot 1 (INSERT 100ê±´)
    â”‚
    â–¼
Snapshot 2 (UPDATE 20ê±´)
    â”‚
    â–¼
Snapshot 3 (DELETE 10ê±´)
    â”‚
    â–¼
Snapshot 4 (INSERT 50ê±´)  â—€ current
```

- ê° ìŠ¤ëƒ…ìƒ·ì€ **ë¶ˆë³€(immutable)**í•˜ë©°, ì´ì „ ìŠ¤ëƒ…ìƒ·ì˜ ë°ì´í„° íŒŒì¼ì€ ê·¸ëŒ€ë¡œ ìœ ì§€ë©ë‹ˆë‹¤
- `VERSION AS OF` ë˜ëŠ” `TIMESTAMP AS OF`ë¡œ ê³¼ê±° ì‹œì ì˜ ë°ì´í„°ë¥¼ ì¡°íšŒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤
- `rollback_to_snapshot`ìœ¼ë¡œ íŠ¹ì • ìŠ¤ëƒ…ìƒ· ìƒíƒœë¡œ í…Œì´ë¸”ì„ ë˜ëŒë¦´ ìˆ˜ ìˆìŠµë‹ˆë‹¤

### Time Travelì˜ í™œìš© ì‚¬ë¡€

| ì‹œë‚˜ë¦¬ì˜¤ | ë°©ë²• |
|----------|------|
| ê³¼ê±° ì‹œì  ë°ì´í„° ë¶„ì„ | `SELECT * FROM table VERSION AS OF {snapshot_id}` |
| ì‹œê°„ ê¸°ë°˜ ë°ì´í„° ì¡°íšŒ | `SELECT * FROM table TIMESTAMP AS OF '{timestamp}'` |
| ì‹¤ìˆ˜ ë³µêµ¬ (ì˜ëª»ëœ DELETE/UPDATE) | `CALL system.rollback_to_snapshot(...)` |
| ë°ì´í„° ë³€ê²½ ì¶”ì  (audit) | ìŠ¤ëƒ…ìƒ·ë³„ ë°ì´í„° ë¹„êµ |

## í™˜ê²½ ì„¤ì •

In [ ]:
import sys
sys.path.append('..')

from utils.spark_setup import create_spark_session
from utils.data_generator import generate_orders, to_spark_df

In [ ]:
spark = create_spark_session("TimeTravel")

## í…Œì´ë¸” ìƒì„± ë° 4ê°œ ìŠ¤ëƒ…ìƒ· ë§Œë“¤ê¸°

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS demo.lab")
spark.sql("DROP TABLE IF EXISTS demo.lab.tt_orders")

spark.sql("""
    CREATE TABLE demo.lab.tt_orders (
        order_id     BIGINT,
        customer_id  BIGINT,
        product_name STRING,
        order_date   DATE,
        amount       DOUBLE,
        status       STRING
    )
    USING iceberg
    PARTITIONED BY (months(order_date))
""")

print("í…Œì´ë¸” ìƒì„± ì™„ë£Œ")

In [ ]:
# Snapshot 1: 100ê±´ INSERT
orders1 = generate_orders(num_records=100, seed=42)
df1 = to_spark_df(spark, orders1)
df1.writeTo("demo.lab.tt_orders").append()

count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"Snapshot 1 (INSERT): {count}ê±´")

In [ ]:
# Snapshot 2: 20ê±´ UPDATE
spark.sql("""
    UPDATE demo.lab.tt_orders
    SET status = 'cancelled', amount = 0.0
    WHERE order_id <= 20
""")

count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
cancelled = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders WHERE status = 'cancelled'").collect()[0]["cnt"]
print(f"Snapshot 2 (UPDATE): ì´ {count}ê±´, cancelled={cancelled}ê±´")

In [ ]:
# Snapshot 3: 10ê±´ DELETE
spark.sql("""
    DELETE FROM demo.lab.tt_orders
    WHERE order_id BETWEEN 21 AND 30
""")

count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"Snapshot 3 (DELETE): {count}ê±´")

In [ ]:
# Snapshot 4: 50ê±´ INSERT
orders2 = generate_orders(num_records=50, id_offset=101, seed=99)
df2 = to_spark_df(spark, orders2)
df2.writeTo("demo.lab.tt_orders").append()

count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"Snapshot 4 (INSERT): {count}ê±´")

## ìŠ¤ëƒ…ìƒ· ëª©ë¡ í™•ì¸

In [ ]:
snapshots_df = spark.sql("SELECT * FROM demo.lab.tt_orders.snapshots")
snapshots_df.show(truncate=False)

In [ ]:
# ìŠ¤ëƒ…ìƒ· ID ëª©ë¡ ì €ì¥
snapshot_rows = snapshots_df.collect()
snapshot_ids = [row["snapshot_id"] for row in snapshot_rows]

print("ìŠ¤ëƒ…ìƒ· ID ëª©ë¡:")
for i, sid in enumerate(snapshot_ids):
    print(f"  Snapshot {i+1}: {sid}")

## VERSION AS OFë¡œ ê³¼ê±° ì‹œì  ë°ì´í„° ì¡°íšŒ

ê° ìŠ¤ëƒ…ìƒ· ì‹œì ì˜ ë°ì´í„° ìˆ˜ë¥¼ ë¹„êµí•©ë‹ˆë‹¤.

In [ ]:
print("[ ìŠ¤ëƒ…ìƒ·ë³„ ë ˆì½”ë“œ ìˆ˜ ë¹„êµ ]\n")

for i, sid in enumerate(snapshot_ids):
    count = spark.sql(f"""
        SELECT COUNT(*) AS cnt
        FROM demo.lab.tt_orders
        VERSION AS OF {sid}
    """).collect()[0]["cnt"]
    
    operations = ["INSERT 100ê±´", "UPDATE 20ê±´", "DELETE 10ê±´", "INSERT 50ê±´"]
    op = operations[i] if i < len(operations) else "?"
    print(f"  Snapshot {i+1} ({op}): {count}ê±´")

In [ ]:
# Snapshot 1ì˜ ë°ì´í„° ìƒ˜í”Œ ì¡°íšŒ
print(f"[ Snapshot 1 ë°ì´í„° ìƒ˜í”Œ (ID: {snapshot_ids[0]}) ]\n")

spark.sql(f"""
    SELECT order_id, product_name, amount, status
    FROM demo.lab.tt_orders
    VERSION AS OF {snapshot_ids[0]}
    ORDER BY order_id
    LIMIT 10
""").show(truncate=False)

## TIMESTAMP AS OFë¡œ ì‹œê°„ ê¸°ë°˜ ì¡°íšŒ

In [ ]:
# ê° ìŠ¤ëƒ…ìƒ·ì˜ íƒ€ì„ìŠ¤íƒ¬í”„ í™•ì¸
history_df = spark.sql("""
    SELECT snapshot_id, committed_at
    FROM demo.lab.tt_orders.snapshots
    ORDER BY committed_at
""")
history_df.show(truncate=False)

In [ ]:
# ì²« ë²ˆì§¸ ìŠ¤ëƒ…ìƒ·ì˜ íƒ€ì„ìŠ¤íƒ¬í”„ë¡œ Time Travel
first_ts = snapshot_rows[0]["committed_at"]
ts_str = str(first_ts)

print(f"Timestamp: {ts_str}\n")

count = spark.sql(f"""
    SELECT COUNT(*) AS cnt
    FROM demo.lab.tt_orders
    TIMESTAMP AS OF '{ts_str}'
""").collect()[0]["cnt"]

print(f"TIMESTAMP AS OF '{ts_str}' â†’ {count}ê±´")

## ì‹¤ìˆ˜ ë³µêµ¬ ì‹œë‚˜ë¦¬ì˜¤

ì‹¤ìˆ˜ë¡œ í…Œì´ë¸”ì˜ **ì „ì²´ ë°ì´í„°ë¥¼ ì‚­ì œ**í•œ ë’¤, `rollback_to_snapshot`ìœ¼ë¡œ ë³µêµ¬í•©ë‹ˆë‹¤.

### ì‹œë‚˜ë¦¬ì˜¤
1. í˜„ì¬ ìƒíƒœ í™•ì¸
2. ì‹¤ìˆ˜ë¡œ `DELETE FROM ... WHERE 1=1` ì‹¤í–‰ (ì „ì²´ ì‚­ì œ!)
3. ë°ì´í„°ê°€ 0ê±´ì¸ ê²ƒì„ í™•ì¸
4. ìŠ¤ëƒ…ìƒ· ê¸°ë°˜ ë¡¤ë°±ìœ¼ë¡œ ë³µêµ¬

In [ ]:
# 1. í˜„ì¬ ìƒíƒœ
before_count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"ì‚­ì œ ì „ ë ˆì½”ë“œ ìˆ˜: {before_count}ê±´")

# ë³µêµ¬í•  ìŠ¤ëƒ…ìƒ· ID ë¯¸ë¦¬ ì €ì¥ (í˜„ì¬ ìŠ¤ëƒ…ìƒ· = Snapshot 4)
recovery_snapshot_id = snapshot_ids[-1]
print(f"ë³µêµ¬ ëŒ€ìƒ ìŠ¤ëƒ…ìƒ· ID: {recovery_snapshot_id}")

In [ ]:
# 2. ì‹¤ìˆ˜ë¡œ ì „ì²´ ì‚­ì œ! ğŸ˜±
spark.sql("DELETE FROM demo.lab.tt_orders WHERE 1=1")

after_count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"ì‚­ì œ í›„ ë ˆì½”ë“œ ìˆ˜: {after_count}ê±´ â€” ë°ì´í„°ê°€ ëª¨ë‘ ì‚¬ë¼ì¡ŒìŠµë‹ˆë‹¤!")

In [ ]:
# 3. rollback_to_snapshotìœ¼ë¡œ ë³µêµ¬
print(f"Snapshot {recovery_snapshot_id}ë¡œ ë¡¤ë°±í•©ë‹ˆë‹¤...\n")

spark.sql(f"""
    CALL demo.system.rollback_to_snapshot('demo.lab.tt_orders', {recovery_snapshot_id})
""")

recovered_count = spark.sql("SELECT COUNT(*) AS cnt FROM demo.lab.tt_orders").collect()[0]["cnt"]
print(f"ë³µêµ¬ í›„ ë ˆì½”ë“œ ìˆ˜: {recovered_count}ê±´")
print(f"\në³µêµ¬ ì„±ê³µ! ({after_count}ê±´ â†’ {recovered_count}ê±´)")

In [ ]:
# ë³µêµ¬ í›„ ìŠ¤ëƒ…ìƒ· ëª©ë¡ í™•ì¸
print("[ ë³µêµ¬ í›„ ìŠ¤ëƒ…ìƒ· ëª©ë¡ ]\n")
spark.sql("SELECT * FROM demo.lab.tt_orders.snapshots").show(truncate=False)

## ê´€ì°° í¬ì¸íŠ¸

### Time Travel í•µì‹¬ ì •ë¦¬

1. **ìŠ¤ëƒ…ìƒ· ê¸°ë°˜ ë²„ì „ ê´€ë¦¬**: ëª¨ë“  ì‘ì—…ì€ ìƒˆë¡œìš´ ìŠ¤ëƒ…ìƒ·ì„ ìƒì„±í•˜ë©°, ì´ì „ ìŠ¤ëƒ…ìƒ·ì€ ê·¸ëŒ€ë¡œ ìœ ì§€ë©ë‹ˆë‹¤

2. **ë°ì´í„° ì¡°íšŒ ë°©ë²•**:
   - `VERSION AS OF {snapshot_id}`: íŠ¹ì • ìŠ¤ëƒ…ìƒ·ì˜ ë°ì´í„°
   - `TIMESTAMP AS OF '{timestamp}'`: íŠ¹ì • ì‹œì ì˜ ë°ì´í„°

3. **ì‹¤ìˆ˜ ë³µêµ¬**: `rollback_to_snapshot`ìœ¼ë¡œ ì „ì²´ ì‚­ì œë„ ë³µêµ¬ ê°€ëŠ¥
   - ë¡¤ë°± ìì²´ë„ ìƒˆë¡œìš´ ìŠ¤ëƒ…ìƒ·ì„ ìƒì„±í•©ë‹ˆë‹¤
   - ê¸°ì¡´ ìŠ¤ëƒ…ìƒ·ì€ ì‚­ì œë˜ì§€ ì•ŠìŠµë‹ˆë‹¤

### âš ï¸ ì£¼ì˜ì‚¬í•­

- **ìŠ¤ëƒ…ìƒ·ì´ ìˆëŠ” í•œ** ë°ì´í„°ë¥¼ ë³µêµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤
- ê·¸ëŸ¬ë‚˜ `expire_snapshots`ë¥¼ ì‹¤í–‰í•˜ë©´ ì˜¤ë˜ëœ ìŠ¤ëƒ…ìƒ·ì´ ì‚­ì œë˜ê³ , í•´ë‹¹ ìŠ¤ëƒ…ìƒ·ìœ¼ë¡œì˜ Time Travelì€ **ë¶ˆê°€ëŠ¥**í•´ì§‘ë‹ˆë‹¤
- ìŠ¤ëƒ…ìƒ· ë§Œë£ŒëŠ” ìŠ¤í† ë¦¬ì§€ ì ˆì•½ì„ ìœ„í•´ ì£¼ê¸°ì ìœ¼ë¡œ ì‹¤í–‰í•˜ë˜, ë³µêµ¬ ê°€ëŠ¥ ê¸°ê°„ì„ ê³ ë ¤í•˜ì—¬ ì„¤ì •í•´ì•¼ í•©ë‹ˆë‹¤
- ì´ ë¶€ë¶„ì€ `4_optimization`ì—ì„œ ë” ìì„¸íˆ ë‹¤ë£¹ë‹ˆë‹¤

In [ ]:
spark.stop()
print("Spark ì„¸ì…˜ ì¢…ë£Œ")